<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atmoon.sharding.mapper.GirlMapper">

    <select id="queryGirlByCity" resultType="com.atmoon.sharding.entity.Girl">
        select * from girl where city = #{city}
    </select>

</mapper>
